<!DOCTYPE html>
<html lang="en">
<head>
       <title>EJS view Engine</title>
</head>
<body>
    <h1>Register page</h1>
    <h1>Welcome to ejs view engine</h1>
    
</body>
</html>
<!-- <% %>
<%- %>
<%= %> -->